<!DOCTYPE html>
<html>
  <head>
    <title>DokiCupid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# <%= action_cable_meta_tag %> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
